* {
    /*
    #  Colors used in this Light Waybar Theme. This is just for reference.
        --foreground : #242639;
        --background : #AECCE6;
        --blue	     : #464CE1;
        --red	     : #DF373A;
        --violet	 : #7F00FF;
        --slate-grey : #708090;
    */
        
        border: none;
        border-radius: 0px;
        font-weight: bold;
        font-size: 14px;
        min-height: 22px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    window#waybar {
        background: rgba(171, 191, 196, 0.9);
        border: 1px solid #5c9179;
        border-radius: 20px;
	margin: 10px;
	box-shadow: 0px 4px 20px rgba(0,0,0,0.3); /* subtle shadow */
    }
    
    #workspaces button {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        margin-right: 5px;
        margin-left: 0px;
        padding-right: 10px;
        padding-left: 7px;
        color: #242639;
    }
    
    #workspaces button.active {
        background: #AECCE6;
        color: #242639;
	border-radius: 10px;
        margin-right: 5px;
        margin-left: 0px;
        padding-right: 10px;
        padding-left: 7px;
    }
    
    #workspaces button:hover {
        background: transparent;
        color: #9AC2E2;
    }
    
    #taskbar button {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
        color: #242639;
    }
    
    #taskbar button.active {
        background: transparent;
        color: #242639;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }
    
    #taskbar button:hover {
        /*Colors are reverted. Although the BG may not work everywhere*/
        background: #242639;
        color: #AECCE6;
    }
    
    #clock {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-right: 6px;
        margin-left: 6px;
        padding-right: 3px;
        padding-left: 3px;
        color: #242639;
    }
    
    #cpu {
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 4px;
        padding-left: 4px;
        color: #242639;
    }
    
    #network {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 4px;
        padding-left: 4px;
        color: #242639;
    }
    
    #taskbar {
        padding: 0px;
    }
    
    #pulseaudio {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 12px;
        padding-left: 4px;
        color: #242639;
    }
    
    #memory {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 4px;
        padding-left: 4px;
        color: #242639;
    }
    
    #disk {
        box-shadow: none;
        text-shadow: none;
	padding: 0px;
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-right: 4px;
	padding-left: 4px;
	color: #242639;
    }
    
    #tray {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 4px;
        padding-left: 4px;
        color: #242639;
    }
    
    #user {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-right: 4px;
	padding-left: 4px;
	color: #242639;
    }
    
    #custom-quit {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }
    
    #custom-lock {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }
    
    #custom-reboot{
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }
    
    #custom-shutdown {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }
    
#battery {
    background-color: transparent;
    color: #000000;
}

#battery.warning {
    color: #f58916; /* red instead of yellow */
    background: transparent;
}

#battery.critical {
    color: #df373a; /* same red for critical */
    background: transparent;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #f53c3c;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #000000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
